body{
    background-color: plum;
}
.N1{
    font-size: xx-large;
}
.N2{
    font-size: xx-large;
}
.N3{
    font-size: xx-large;
}
header{
    background-color: purple;
}
section{
    background-color: plum;
}

footer{
    background-color: purple;
}
html{
    text-align: center;
}
